In [1]:
True = a

SyntaxError: cannot assign to True (<ipython-input-1-674127fee37e>, line 1)

In [2]:
student="nishi"

In [3]:
Student= "sonu"

In [4]:
Student

'sonu'

In [5]:
student

'nishi'

In [6]:
a="hello world"

In [7]:
a

'hello world'

In [8]:
str1="this is my second string"

In [9]:
str1

'this is my second string'

In [11]:
str3="'
this string 
has 
lot
of line
'"

SyntaxError: EOL while scanning string literal (<ipython-input-11-03360e6ea711>, line 1)

In [16]:

str3''' 

This string
has
lot of lines
'''

SyntaxError: invalid syntax (<ipython-input-16-2051d9395b57>, line 6)

In [19]:
my_string="This is nishi"

In [20]:
my_string

'This is nishi'

In [21]:
my_string[0]

'T'

In [23]:
my_string[-1]

'i'

In [24]:
my_string[5:11]

'is nis'

In [25]:
len(my_string)

13

In [26]:
my_string.lower()

'this is nishi'

In [28]:
my_string.upper()

'THIS IS NISHI'

In [29]:
my_string.replace('n','m')

'This is mishi'

In [30]:
new_string="hello hello hello hello tuffy"

In [31]:
new_string.count("hello")

4

In [32]:
my_string='hello world is good'

In [33]:
my_string.find('o')

4

In [34]:
my_string='my tuffy is best in the world'

In [35]:
my_string

'my tuffy is best in the world'

In [37]:
my_string.split('i')

['my tuffy ', 's best ', 'n the world']

In [39]:
tup1=(1,True,5-7j,3.28, "mohan")

In [40]:
tup1

(1, True, (5-7j), 3.28, 'mohan')

In [41]:
type(tup1)

tuple

In [42]:
tup1.replace('1','2')

AttributeError: 'tuple' object has no attribute 'replace'

In [43]:
tup1[0]

1

In [46]:
tup1[-1]

'mohan'

In [47]:
tup1[2:5]

((5-7j), 3.28, 'mohan')

In [48]:
len(tup1)

5

In [50]:
tup2=(1,3+5j,3,5)
tup3=(4,5+6j,6)

In [51]:
tup2,tup3

((1, (3+5j), 3, 5), (4, (5+6j), 6))

In [52]:
tup3+tup2

(4, (5+6j), 6, 1, (3+5j), 3, 5)

In [53]:
tup2*4

(1, (3+5j), 3, 5, 1, (3+5j), 3, 5, 1, (3+5j), 3, 5, 1, (3+5j), 3, 5)

In [54]:
tup3*4+tup2

(4, (5+6j), 6, 4, (5+6j), 6, 4, (5+6j), 6, 4, (5+6j), 6, 1, (3+5j), 3, 5)

In [56]:
tup4=(8,9,7,6,5,4,3,2)

In [57]:
tup4

(8, 9, 7, 6, 5, 4, 3, 2)

In [58]:
min(tup4)

2

In [59]:
max(tup4)

9

In [60]:
len(tup4)

8

In [64]:
l1=[1,'tuffy',True, 6.76]

In [65]:
l1

[1, 'tuffy', True, 6.76]

In [67]:
type(l1)

list

l1[1]

In [68]:
l1[3]

6.76

In [69]:
l1[1:3]

['tuffy', True]

In [70]:
l1[0]=50

In [71]:
l1

[50, 'tuffy', True, 6.76]

In [72]:
l1.append("nishi")

In [73]:
l1

[50, 'tuffy', True, 6.76, 'nishi']

In [74]:
l1.pop()

'nishi'

In [75]:
l1

[50, 'tuffy', True, 6.76]

In [76]:
li=["nishi prabhakar"]

In [77]:
l1

[50, 'tuffy', True, 6.76]

In [78]:
li

['nishi prabhakar']

In [79]:
li.reverse()

['nishi prabhakar']

In [81]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [82]:
str="nishi prabhakar"

In [83]:
str

'nishi prabhakar'

In [89]:
l11=["nishi" "prabhakar"]

l11

In [86]:
l11

['nishiprabhakar']

In [87]:
l11.reverse()

In [101]:
l11.reverse()

In [90]:
l11

['nishiprabhakar']

In [91]:
lab23=["nishi" ,"prabhakar"]

In [92]:
lab23

['nishi', 'prabhakar']

In [103]:
lab23.reverse()
lab23

['prabhakar', 'nishi']

In [97]:
lab23.reverse()>

SyntaxError: invalid syntax (<ipython-input-97-4c1a2cc7978e>, line 1)

In [98]:
tex="nishiprabhakar"

In [99]:
reverse(tex)

NameError: name 'reverse' is not defined

In [100]:
tex.reverse()

AttributeError: 'str' object has no attribute 'reverse'