In [1]:
l12=[1,"a",3,"g","nishi" ,"tuffy",9]

In [2]:
l12

[1, 'a', 3, 'g', 'nishi', 'tuffy', 9]

In [3]:
l12.reverse()

In [4]:
l12

[9, 'tuffy', 'nishi', 'g', 3, 'a', 1]

In [9]:
l12.insert( 8,"kumu")

In [10]:
l12

[9, 'tuffy', 'nishi', 'g', 3, 'a', 1, 'kumu', 'kumu']

In [13]:
l12.insert(10,12)

In [14]:
l12

[9, 'tuffy', 'nishi', 'g', 3, 'a', 1, 'kumu', 'kumu', 12]

In [16]:
l21=["papaya","orange","mango","guava"]

l21

In [17]:
l21

['papaya', 'orange', 'mango', 'guava']

In [18]:
l21.sort()

In [19]:
l21

['guava', 'mango', 'orange', 'papaya']

In [20]:
l21.insert(3,'gapes')

In [21]:
l21

['guava', 'mango', 'orange', 'gapes', 'papaya']

In [22]:
l21.reverse()

In [23]:
l21

['papaya', 'gapes', 'orange', 'mango', 'guava']

In [24]:
l21.pop()

'guava'

In [25]:
l21

['papaya', 'gapes', 'orange', 'mango']

In [26]:
l22=["mohan",True,"gita",False]

In [27]:
l22

['mohan', True, 'gita', False]

In [28]:
l21+l22

['papaya', 'gapes', 'orange', 'mango', 'mohan', True, 'gita', False]

In [29]:
l22*4

['mohan',
 True,
 'gita',
 False,
 'mohan',
 True,
 'gita',
 False,
 'mohan',
 True,
 'gita',
 False,
 'mohan',
 True,
 'gita',
 False]

In [30]:
l22.reverse()

In [31]:
l22

[False, 'gita', True, 'mohan']

In [32]:
l22.append("rakaya")

In [33]:
l22

[False, 'gita', True, 'mohan', 'rakaya']

In [39]:
l22.insert(2,3)

In [38]:
l22.insert("raya","haya")

TypeError: 'str' object cannot be interpreted as an integer

In [40]:
l22

[False, 'gita', 3, True, 'mohan', 'rakaya']

In [41]:
l22[4]

'mohan'

In [42]:
l22*1+l21

[False,
 'gita',
 3,
 True,
 'mohan',
 'rakaya',
 'papaya',
 'gapes',
 'orange',
 'mango']

In [44]:
d1={'onion':60,'garlic':80,'bhindi':40,'mogra':45}

In [45]:
d1

{'onion': 60, 'garlic': 80, 'bhindi': 40, 'mogra': 45}

In [46]:
type(d1)

dict

In [47]:
d1.keys()

dict_keys(['onion', 'garlic', 'bhindi', 'mogra'])

In [49]:
d1.values()

dict_values([60, 80, 40, 45])

In [50]:
d1

{'onion': 60, 'garlic': 80, 'bhindi': 40, 'mogra': 45}

In [53]:
d1['broot']=10

In [54]:
d1

{'onion': 60, 'garlic': 80, 'bhindi': 40, 'mogra': 45, 'broot': 10}

In [55]:
d1['bhindi']=500

In [56]:
d1

{'onion': 60, 'garlic': 80, 'bhindi': 500, 'mogra': 45, 'broot': 10}

In [57]:
d1['garlic','broot']=100,50

In [58]:
d1

{'onion': 60,
 'garlic': 80,
 'bhindi': 500,
 'mogra': 45,
 'broot': 10,
 ('garlic', 'broot'): (100, 50)}

In [62]:
d2={'aalu':20,'pencil':35,'curd':25,'joy':21}

In [63]:
d2

{'aalu': 20, 'pencil': 35, 'curd': 25, 'joy': 21}

In [64]:
d1.update(d2)

In [65]:
d1

{'onion': 60,
 'garlic': 80,
 'bhindi': 500,
 'mogra': 45,
 'broot': 10,
 ('garlic', 'broot'): (100, 50),
 'aalu': 20,
 'pencil': 35,
 'curd': 25,
 'joy': 21}

In [66]:
d1.pop('onion')

60

In [67]:
d1

{'garlic': 80,
 'bhindi': 500,
 'mogra': 45,
 'broot': 10,
 ('garlic', 'broot'): (100, 50),
 'aalu': 20,
 'pencil': 35,
 'curd': 25,
 'joy': 21}

In [68]:
s1={1,3.14,'tuffy'}

In [69]:
s1

{1, 3.14, 'tuffy'}

In [70]:
s1={1,3.14,'tuffy',1}

In [71]:
s1

{1, 3.14, 'tuffy'}

In [72]:
s1.add('helly')

In [73]:
s1

{1, 3.14, 'helly', 'tuffy'}

In [76]:
s1.update('egg','kulla')

In [77]:
s1

{1, 3.14, 'a', 'e', 'g', 'helly', 'k', 'l', 'tuffy', 'u'}

In [79]:
s1.remove('helly')

In [80]:
s1

{1, 3.14, 'a', 'e', 'g', 'k', 'l', 'tuffy', 'u'}

In [81]:
s1.add(True)

In [82]:
s1

{1, 3.14, 'a', 'e', 'g', 'k', 'l', 'tuffy', 'u'}

In [83]:
s1.add(False)

In [84]:
s1

{1, 3.14, False, 'a', 'e', 'g', 'k', 'l', 'tuffy', 'u'}

In [86]:
s1.update({'kala',222222,5+9j})

In [87]:
s1

{(5+9j), 1, 222222, 3.14, False, 'a', 'e', 'g', 'k', 'kala', 'l', 'tuffy', 'u'}

In [88]:
s1.remove('kala')

In [89]:
s1

{(5+9j), 1, 222222, 3.14, False, 'a', 'e', 'g', 'k', 'l', 'tuffy', 'u'}

In [90]:
s2={1,5,7,'ruki',38.1}

In [91]:
s2

{1, 38.1, 5, 7, 'ruki'}

In [92]:
s1.union(s2)

{(5+9j),
 1,
 222222,
 3.14,
 38.1,
 5,
 7,
 False,
 'a',
 'e',
 'g',
 'k',
 'l',
 'ruki',
 'tuffy',
 'u'}

In [93]:
s1.intersection(s2)

{1}

In [94]:
s2.union(s1)

{(5+9j),
 1,
 222222,
 3.14,
 38.1,
 5,
 7,
 False,
 'a',
 'e',
 'g',
 'k',
 'l',
 'ruki',
 'tuffy',
 'u'}

In [96]:
s2.pop()

1

In [97]:
s2

{38.1, 5, 7, 'ruki'}

In [101]:
A=10

In [100]:
ifb>a:
    print("B is greater than A")

SyntaxError: invalid syntax (<ipython-input-100-7981fce0a92b>, line 1)

In [102]:
a=10

In [103]:
b=20

In [105]:
if a>b:
    print("B is greater than A")

In [106]:
if a>b:
    print("A is greater than B")
else:
    print("B is greater than A")

B is greater than A

In [118]:
a=10
b=20
c=30

In [119]:
if (a>b) & (a>c):
    Print("a is greatest")
elif (b>a) & (b>c):
    print("b is greatest")
else:
    print("C is the greatest")

C is the greatest

In [120]:
if (a>b) & (a>c):
    print("a is the greatest")
elif (b>a) & (b>c):
    print("b is the greatest")
else:
    print("c is the greatest")

c is the greatest

In [121]:
mohan=32
sohan=56
radha=46

In [122]:
if ("mohan" >"sohan") &("mohan">"radha"):
    print("mohan")
elif("sohan">"mohan") &("sohan">"radha"):
    print("sohan")
else:
    print("radha")

sohan

In [125]:
full_marks=100
my_marks=99

In [126]:
#if with tuple

In [127]:
tup1=('d','f','b','h')

In [128]:
if'a' in tup1:
    print("radha gyi")
else:
    print("radha nache tum bhi nacho")

radha nache tum bhi nacho

In [129]:
#if with list

In [130]:
li=['b','d','f','g']

In [133]:
if li[2]=='f':
    li[1]="fuck"

In [134]:
li

['b', 'fuck', 'f', 'g']

In [135]:
#if with dictionary

In [144]:
d1={'p1':20,'d2':40,'g3':50}

In [150]:
if d1['g3']==50:
    d1['g3']=['g3']+80

TypeError: can only concatenate list (not "int") to list

In [152]:
i=1
while i<=18:
        print(i)
        i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [154]:
i=1
n=4
while i<20:
    print(n,"*",i,"=",n*i)
    i=i+1

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
4 * 13 = 52
4 * 14 = 56
4 * 15 = 60
4 * 16 = 64
4 * 17 = 68
4 * 18 = 72
4 * 19 = 76

In [155]:
i=1
n=27
while i<11:
    print(n,"*",i,"=",n*i)
    i=i+1

27 * 1 = 27
27 * 2 = 54
27 * 3 = 81
27 * 4 = 108
27 * 5 = 135
27 * 6 = 162
27 * 7 = 189
27 * 8 = 216
27 * 9 = 243
27 * 10 = 270

In [159]:
i=n
n=4
while i<2000:
    print(n,"*",i,"=",n*i)
    i=i*i

4 * 4 = 16
4 * 16 = 64
4 * 256 = 1024

In [160]:
#while with list

In [161]:
l1=[1,2,3,4,5]

In [162]:
i=0

In [163]:
while i<len(l1):
    l1[i]=l1[i]+500
    i=i+1

In [164]:
l1

[501, 502, 503, 504, 505]